@font-face {
  font-family: IranSans;
  src: url(font/iran-sans-400.ttf);
}

*{
    font-family:IranSans;
}

body{
    text-align:right;
}

.mr-10 {
    margin-right:10px;
}

.parallax-cover {
    background-color: #dcd4c9;
    background-image: url(/static/images/parallax.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}