<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
<head>
    <title>Online Shop</title>
    {% include 'partial/header.html' %}
</head>
<body>

{% include 'partial/nav.html' %}

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        {% for slider in sliders %}
        <button type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="{{forloop.counter0}}"
                class="{% if forloop.first %}active{% endif %}"
                aria-current="true"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for slider in sliders %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" style="max-height:520px">
            <img src="{{slider.image.url}}" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{slider.title}}</h5>
                <p>{{slider.subtitle}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h1 class="text-center p-5">محصولات جدید</h1>
<div class="container mb-5">
    <div class="row">
        {% for product in new_products %}
        <div class="col-xs-12 col-md-4">
            <div class="card m-2">
                <img src="{{product.image.url}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description|safe}}</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <span>
                        <i class="fa-solid fa-calendar-days"></i>
                        {{product.updated_at|date:"Y-m-d"}}
                    </span>
                    <a href="/product/{{product.id}}/" class="btn btn-primary">اضافه به سبدخرید</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="parallax-cover"></div>

<h1 class="text-center p-5">محصولات محبوب</h1>
<div class="container">
    <div class="row">
        {% for product in popular_products %}
        <div class="col-xs-12 col-md-4">
            <div class="card m-2">
                <img src="{{product.image.url}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description|safe}}</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <span>
                        <i class="fa-solid fa-eye"></i>
                        {{product.visit_count}}
                    </span>
                    <a href="/product/{{product.id}}/" class="btn btn-primary">اضافه به سبدخرید</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'partial/footer.html' %}

</body>
</html>